body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #d1c4e9; /* Светло-сиреневый фон */
}

.container {
  text-align: center;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #fff; /* Белый фон бокса задачи */
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item span {
  flex: 1;
}

.task-columns {
  display: flex;
}

.task-column {
  flex: 1;
  margin-right: 16px;
}


.task-item button {
  margin-left: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-todo {
  background-color: #3498db; /* Синий цвет для кнопки ToDo */
  color: #fff;
}

.button-inprogress {
  background-color: #f39c12; /* Желтый цвет для кнопки InProgress */
  color: #fff;
}

.button-done {
  background-color: #2ecc71; /* Зеленый цвет для кнопки Done */
  color: #fff;
}

.button-delete {
  background-color: #e74c3c; /* Красный цвет для кнопки Delete */
  color: #fff;
}
